
sandbox.m
*.pdf
*.mat
*.txt
*.asv
ex1-ex8-matlab/ex1/ex1-octave-submission-scripts/lib/submitWithConfiguration.m
ex1-ex8-matlab/ex1/ex1-octave-submission-scripts/submit.m
ex1-octave/lib/jsonlab/jsonopt.m
ex1-octave/lib/jsonlab/loadjson.m
ex1-octave/lib/jsonlab/loadubjson.m
ex1-octave/lib/jsonlab/mergestruct.m
ex1-octave/lib/jsonlab/savejson.m
ex1-octave/lib/jsonlab/saveubjson.m
ex1-octave/lib/jsonlab/varargin2struct.m
ex1-octave/lib/makeValidFieldName.m
ex1-octave/lib/submitWithConfiguration.m
ex1-octave/plotData.m
ex1-octave/submit.m
ex2-octave/ex2.m
ex2-octave/ex2_reg.m
ex2-octave/lib/jsonlab/jsonopt.m
ex2-octave/lib/jsonlab/loadjson.m
ex2-octave/lib/jsonlab/loadubjson.m
ex2-octave/lib/jsonlab/mergestruct.m
ex2-octave/lib/jsonlab/savejson.m
ex2-octave/lib/jsonlab/saveubjson.m
ex2-octave/lib/jsonlab/varargin2struct.m
ex2-octave/lib/makeValidFieldName.m
ex2-octave/lib/submitWithConfiguration.m
ex2-octave/mapFeature.m
ex2-octave/plotDecisionBoundary.m
ex2-octave/submit.m
ex3-octave/submit.m
ex3-octave/sigmoid.m
ex3-octave/lib/submitWithConfiguration.m
ex3-octave/lib/makeValidFieldName.m
ex3-octave/lib/jsonlab/varargin2struct.m
ex3-octave/lib/jsonlab/saveubjson.m
ex3-octave/lib/jsonlab/savejson.m
ex3-octave/lib/jsonlab/mergestruct.m
ex3-octave/lib/jsonlab/loadubjson.m
ex3-octave/lib/jsonlab/loadjson.m
ex3-octave/lib/jsonlab/jsonopt.m
ex3-octave/fmincg.m
ex3-octave/ex3_nn.m
ex3-octave/ex3.m
ex3-octave/displayData.m
ex4-octave/checkNNGradients.m
ex4-octave/computeNumericalGradient.m
ex4-octave/debugInitializeWeights.m
ex4-octave/displayData.m
ex4-octave/ex4.m
ex4-octave/fmincg.m
ex4-octave/lib/jsonlab/jsonopt.m
ex4-octave/lib/jsonlab/loadjson.m
ex4-octave/lib/jsonlab/loadubjson.m
ex4-octave/lib/jsonlab/mergestruct.m
ex4-octave/lib/jsonlab/savejson.m
ex4-octave/lib/jsonlab/saveubjson.m
ex4-octave/lib/jsonlab/varargin2struct.m
ex4-octave/lib/makeValidFieldName.m
ex4-octave/lib/submitWithConfiguration.m
ex4-octave/predict.m
ex4-octave/sigmoid.m
ex4-octave/submit.m
lib/jsonlab/jsonopt.m
lib/jsonlab/loadjson.m
lib/jsonlab/loadubjson.m
lib/jsonlab/mergestruct.m
lib/jsonlab/savejson.m
lib/jsonlab/saveubjson.m
lib/jsonlab/varargin2struct.m
lib/makeValidFieldName.m
lib/submitWithConfiguration.m
ex5-octave/ex5.m
ex5-octave/featureNormalize.m
ex5-octave/fmincg.m
ex5-octave/lib/jsonlab/jsonopt.m
ex5-octave/lib/jsonlab/loadjson.m
ex5-octave/lib/jsonlab/loadubjson.m
ex5-octave/lib/jsonlab/mergestruct.m
ex5-octave/lib/jsonlab/savejson.m
ex5-octave/lib/jsonlab/saveubjson.m
ex5-octave/lib/jsonlab/varargin2struct.m
ex5-octave/lib/makeValidFieldName.m
ex5-octave/lib/submitWithConfiguration.m
ex5-octave/plotFit.m
ex5-octave/submit.m
ex5-octave/trainLinearReg.m
ex6-octave/ex6.m
ex6-octave/ex6_spam.m
ex6-octave/getVocabList.m
ex6-octave/lib/jsonlab/jsonopt.m
ex6-octave/lib/jsonlab/loadjson.m
ex6-octave/lib/jsonlab/loadubjson.m
ex6-octave/lib/jsonlab/mergestruct.m
ex6-octave/lib/jsonlab/savejson.m
ex6-octave/lib/jsonlab/saveubjson.m
ex6-octave/lib/jsonlab/varargin2struct.m
ex6-octave/lib/makeValidFieldName.m
ex6-octave/lib/submitWithConfiguration.m
ex6-octave/linearKernel.m
ex6-octave/plotData.m
ex6-octave/porterStemmer.m
ex6-octave/readFile.m
ex6-octave/submit.m
ex6-octave/svmPredict.m
ex6-octave/svmTrain.m
ex6-octave/visualizeBoundary.m
ex6-octave/visualizeBoundaryLinear.m
